# Rust build artifacts
target/
scripts/target/

# Test artifacts
logs/
test_processes.pids
*.log
*.bak

# Generated config files and directories
config/config.json
config/.nodes/**
!config/.nodes/
!config/.nodes/.gitkeep
!config/.nodes/operator_keys/**
!config/.nodes/operator_keys/.gitkeep

# Dotenv file
.env

# Mac OS files
.DS_Store
